.tabContainer {
  max-width: 700px;
  background-color: thistle;
  margin: 0 auto;
}
.tab {
  display:inline-block;
  padding: 15px 25px;
  width: 150px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.tabBar {
  background-color: #372b46;
}
.tab1 {

}
.tab2 {

}
.active {
  background-color: #843dda;
}
#tabContent1{

}
#tabContent2 {
  display:none;
}
.grid {

}
.listItem {
  padding: 18px;
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
